{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="form-box container">
        <h2 class="form-title">Création d'une annonce</h2>
        {{ form_start(myForm, {'attr': {'class': 'form-content'}}) }}

        {{ form_widget(myForm) }}

        <button type="submit" class="btn btn-submit mt-3">Créer l'annonce</button>

        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block _voiture_images_widget %}
    <p class="images-info">Ici, vous pouvez ajouter vos propres images</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-add">Ajouter une image</button>
    </div>
{% endblock %}

{% block _voiture_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _voiture_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
            <div class="images">
                {{ form_widget(form.url) }}
                {{ form_errors(form.url) }}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addImage = document.querySelector('#add-image');
            const widgetsCounter = document.querySelector("#widgets-counter");
            const annonceImagesContainer = document.querySelector("#{{ myForm.images.vars.id }}");

            addImage.addEventListener('click', () => {
                const index = +widgetsCounter.value;
                const prototype = annonceImagesContainer.dataset.prototype.replace(/__name__/g, index);
                annonceImagesContainer.insertAdjacentHTML('beforeend', prototype);
                widgetsCounter.value = index + 1;
            });

            annonceImagesContainer.addEventListener('click', (e) => {
                if (e.target.matches('button[data-action="delete"]')) {
                    const target = e.target.dataset.target;
                    const elementTarget = document.querySelector(target);
                    if (elementTarget) {
                        elementTarget.remove();
                    }
                }
            });

            const updateCounter = () => {
                const count = annonceImagesContainer.querySelectorAll('div.form-group').length;
                widgetsCounter.value = count;
            };

            updateCounter();
        });
    </script>
{% endblock %}